body {
    justify-content: center;
    background: url('http://pm1.narvii.com/7450/61618973a9e402524f24dba94eae7695f5871eddr1-512-512v2_uhq.jpg');
}

html {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: rgb(49, 44, 44);
}

.elekid, .mantyke, .tyrogue, .wynaut, .munchlax, .mimejr, .magby, .pichu, .togepi {
    background: rgba(255, 255, 255, 0.95);
    font-family: 'Press Start 2P', cursive;
    min-width: 500px;
    text-align: center;
    padding: 25px;
    border-radius: 6px;
    border: 10px #f8d41f solid;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.smoochum {
    background: rgba(255, 255, 255, 0.95);
    font-family: 'Press Start 2P', cursive;
    min-width: 500px;
    text-align: center;
    padding: 25px;
    border-radius: 6px;
    border: 10px #f8d41f solid;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 80px;
}

/* .container {
    margin-top: 100px;
    margin-bottom: 50px;
} */

.name {
    font-size: 40px;
}

img {
    height: 180px;
    width: 180px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    color: rgb(49, 44, 44);
}

h3 {
    margin-left: 500px;
    color: rgb(49, 44, 44);
}

